[user]
  name = Julius Volz
  email = julius.volz@gmail.com
[push]
  default = current
[core]
  editor = vim
	autocrlf = input
	hooksPath = /home/julius/.githooks
[color]
  ui = true
[diff]
  algorithm = patience
[alias]
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all --date=local
